
/*---------- Preloader Css Start -------*/
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}


#preloader {
	background-color: #fcfefc;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147483647;
	width: 100%;
	height: 100%;
}

#status {
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#status img {
}



/*Navigation Bar*/

.x-navbar{
 border-bottom: 0px;
  background-color: rgb(255,255,255,0.98);
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  display: block;
  transition: background-color 0.5s ease;
  overflow:auto;
padding-left: 2%;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 43px -6px rgba(0,0,0,0.75);

  }
/*
.darknavbar {background-color: rgb(255,255,255,0.0) !important;}
.clearnavbar {background-color: white !important;}
.black {color: black !important;}
*/
.x-navbar a {
    float: left;
display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 100%;
  font-family: MisoBold, Arial, Times New Roman;
}

.x-navbar a:hover {
  color: rgb(0,191,255);
  transition: color 0.5s ease;
}
.header-r{
  overflow: hidden;
  float: right;
  padding-right: 380px;
}

.header-r .icon {
    display: none;
}
  #logo{
  float: left;
  padding-top: 2px;
  padding-left: 250px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
a.svg {
  position: relative;
  display: inline-block;

}
*/
/*Fix background*/
.homeb {
    /* The background image */
    background-image: url("../image/home/1.jpg");
    /* Set a specified height, or the minimum height for the background image */
    height: 500px;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
    background-attachment: fixed;
}

/*text */
.overview {
  position: relative;
  background-color: #fff;
  z-index: 999;
  overflow:auto;
  padding-bottom: 50px;

}

#rs{
  text-align: center;
}

#rsengg{
 margin-top:40px;
  font-size: 30px;
  line-height: 39.834px;
  color: rgb(0,191,255);
}
#p1{
  margin-top: 10px;
  font-size: 17px !important;
  color: #747474;
  /*
   background-color: rgb(0,191,255,0.1);
  box-sizing: border-box;
  width: 51%;
  margin-left: 270px;
  */
}

hr {
  border-width: 2px;
  border-color: rgb(0,191,255,0.5);
}

#aboutushome{
	float:left;

	 font-size: 15px;
	 color: rgb(116, 116, 116);
	margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.bar_s{
  width: 0px;
	float: right;
	margin: 10px 0px 0px 0px;
  padding: 0px 480px 0px 0px;
}
.skill_bar {
  width:480px;
  height:55px;
  background-color: rgb(192,192,192,0.2);
  margin-bottom: 20px;

}
.skill_bar_progress {
  width:0%;
  height:100%;
  background-color: rgb(0,191,255,2.5);
}

/*dishendslider*/
.slider {
        width: 95%;
        margin: 90px auto;
    }
    .slider1 {
            width: 90%;
            margin: 30px auto;
        }

    .slick-slide {
          margin: 0px 20px;
        }

        .slick-slide img {
          width: 100%;
        }
.slick-prev:before,
.slick-next:before {
  color: black;
    }

.dslider{
  margin-top: 8%;
  -webkit-box-shadow: 0px 20px 29px 0px rgba(131,178,255,0.75);
  -moz-box-shadow: 0px 20px 29px 0px rgba(131,178,255,0.75);
  box-shadow: 0px 20px 29px 0px rgba(131,178,255,0.75);
}
.dishendslider h4{
  color: rgb(116, 116, 116);
}

.cslider{
  background-image: linear-gradient(161deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  margin-top: 8%;
  margin-bottom: 8%;
  -webkit-box-shadow: 0px 20px 29px 0px rgba(131,178,255,0.75);
  -moz-box-shadow: 0px 20px 29px 0px rgba(131,178,255,0.75);
  box-shadow: 0px 20px 29px 0px rgba(131,178,255,0.75);
}

/*footer*/
.footer{
	position: relative;
  background-color: #f2f2f2;
  overflow:auto;
}

.fcolumn {
	margin-top: 5%;
	margin-bottom: 3%;
  float: left;
	width: 50%;
	font-family: sans-serif;
	font-size: 100%;
}

#contact-footer{
padding-left: 150px;

  color: black;

}
#navigate-footer{
padding-left: 280px;
color: black;

}

#navigate-footer li{
	padding-top: 5px;
}

.uldotremove {
  list-style-type: none;
  padding: 0px
}

/* aboutus img */
.aboutusimg{
  /* The background image */
  background-image: url("../image/aboutus/2.jpg");
  /* Set a specified height, or the minimum height for the background image */
  height: 500px;
  /* Center the background image */
  background-position: center;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: cover;

  background-attachment: fixed;
}
.hbtxt{
      background: #ffffff;
      color: #000;
      text-transform: uppercase;
      top:50%;
      left: 7%;
      padding: 10px;
      box-shadow: 0px 0px 0px 0px #ffffff;
      mix-blend-mode: lighten;
      line-height: 1;
      position: relative;
      display: inline-block;
      font-size: 26px !important;
      font-family: IBM Plex Sans bold, sans-serif;
      font-weight: 700;

}


.ustxt{
  background: #ffffff;
      color: #000;
      text-transform: uppercase;
      top:50%;
      left: 37%;
      padding: 18px;
      box-shadow: 0px 0px 0px 0px #ffffff;
      mix-blend-mode: lighten;
      line-height: 1;
      position: relative;
      display: inline;
      font-size: 56px !important;
      font-family: IBM Plex Sans bold, sans-serif;
      font-weight: 700;

}

.textus{
 color: rgb(232, 232, 232);
 font-family: sans-serif;
 font-size: 15px;
 color: rgb(116, 116, 116);
 margin-top: 30px;
}

.ab{
  box-sizing: border-box;
  float: right;
  margin-right: -520px;
  margin-top: -360px;
  display:block;
  overflow: hidden;
}

.porimg{
  /* The background image */
  background-image: url("../image/product/7.jpg");
  /* Set a specified height, or the minimum height for the background image */
  height: 500px;
  /* Center the background image */
  background-position:  center;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: cover;

  background-attachment: fixed;

}



/*padding: 0px 0px 360px 0px;
*/


/*PRODUCTS*/
.pcolumn {
	margin-top: 5%;
	margin-bottom: 5%;
	float: left;
	width: 50%;
	font-family: sans-serif;
	font-size: 110%;
}
.pcolumn li {
list-style: none;
}

.pcolumn li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #639fff; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: 5em; /* Also needed for space (tweak if needed) */
	margin-top: 1em;

}

.button {
    background-color: white;
    border: 2px solid #639fff;;
    color: #639fff;
    padding: 10px 54px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16	px;
		margin-left: 24%;
		margin-top: 3%;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;

}

.button:hover {
    background-color: #639fff; /* Green */
    color: white;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }

.dish-box {
     margin: 30px 200px 0px 200px;
     padding: 0px 0px 300px 0px;

   }
.tx {
  float: left;
  background-color: #f1f1f1;
}

.im{
float: right;
margin-top: 50px;
padding: 0px 0px 0px 0px;
}

.dishp{
margin-bottom: 70px;
}
/*end of product*/



/* contact us */
.cus{
  overflow: hidden;
  margin-top: -1%;
  position: relative;
  text-align: center;
  color: white;
}

.cus img{
  width: 100%;
  display:block;
  margin-top: -5.874%;
  margin-bottom: -5.875%;
}

.ccolumn {
	margin-top: 5%;
	margin-bottom: 5%;
	float: left;
	width: 50%;
	font-family: sans-serif;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 80%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: white;
    color: #639fff;
    padding: 10px 54px;
    border: 2px solid #639fff;;
    border-radius: 4px;
    cursor: pointer;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #639fff; /* Green */
	color: white;

}

.hporimg{
  background-image: url("../image/home/wel.jpg");
  height: 400px;
  /* Center the background image */
  background-position: center;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size:  100% 125%;
  background-attachment: fixed;
  color: #fff;
  -webkit-box-shadow: 0px 20px 29px 0px rgba(254,169,1,0.75);
  -moz-box-shadow: 0px 20px 29px 0px rgba(254,169,1,0.75);
  box-shadow: 0px 20px 29px 0px rgba(254,169,1,0.75);
}

.hpcolumn {
	margin-top: 5%;
	margin-bottom: 5%;
  margin-left: 5%;
	width: 50%;
	font-family: sans-serif;

}

.hpor{
  background: #ffffff;
      color: #000;
      text-transform: uppercase;
      padding: 4px;
      box-shadow: 0px 0px 0px 0px #ffffff;
      mix-blend-mode: lighten;
      line-height: 1;
      position: relative;
      display: inline-block;
      font-size: 40px !important;
      font-family: IBM Plex Sans bold, sans-serif;
      font-weight: 700;
}

.buttonh {

    border: 2px solid #639fff;
    color: white;
    padding: 10px 54px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		margin-top: 3%;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;

}

.buttonh:hover {
    background-color: #639fff;
    color: white;
}

.ctag{
  background: #ffffff;
      color: #000;
      text-transform: uppercase;
      padding: 2px;
      left: 36%;
      box-shadow: 0px 0px 0px 0px #ffffff;
      mix-blend-mode: lighten;
      line-height: 1;
      position: relative;
      display: inline-block;
      font-size: 35px !important;
      font-family: IBM Plex Sans bold, sans-serif;
      font-weight: 700;
}

/*mobile view*/

@media all and (max-width: 800px) {


	.fcolumn{
		width: 50%;
    float: left;
	}

	#contact-footer{
	  margin: 0px 0px 0px 0px;
	  padding: 0px 0px 0px 0px;
	  color: black;

	}
	#navigate-footer{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: black;

	}

	#navigate-footer li{
		padding-top: 5px;
	}

.pcolumn {
	        width: 100%;
	    }
.pcolumn h3{
	padding-right: 20%;
	text-align: left;
}

.pcolumn li {
list-style: none;
}

.pcolumn li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #639fff; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: 1em; /* Also needed for space (tweak if needed) */
	margin-top: 1em;
}


.bo{
  margin-top: 60px;
}

#logo{
  float: left;
  padding: 0px 0px 0px 0px;
  margin: 5px 0px 0px 30px;
}

.header-r{
float: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.header-r a:not(:first-child) {
  display: none;
}

.header-r a.icon {
  float: right;
  display: block;
}

.header-r.responsive {
  position: relative;
}

.header-r.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.header-r.responsive a {
  float: none;
  display: block;
  text-align: center;
}

#aboutushome{
	 font-size: 15px;
	 color: rgb(116, 116, 116);
	margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.bar_s{
  width: 100%;
	margin: 40px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.skill_bar {
  width:380px;
  height:55px;
  background: rgb(192,192,192,0.2);
  margin-bottom: 20px;
}

.skill_bar h3 {
padding: 5px 0px 0px 7px !important;
font-size: 130% !important;
}
.skill_bar_progress {
  width:0%;
  height:100%;
  background: rgb(0,191,255,0.5);
}

.ab{
  display: none;
}

.dishp{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.dish-box{
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 480px 0px;
  animation-name: fadeInLeft;
}

.im{
margin-top: 10px;
margin-right: 10px;
padding: 0px 0px 0px 0px;
}


.hporimg{
  background-size:  100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.hpcolumn {
	margin-top: 5%;
	margin-bottom: 5%;
  margin-left: 5%;
	width: 90%;
	font-family: sans-serif;
  font-size: 70%;
}

.buttonh {

    border: 2px solid #639fff;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		margin-top: 3%;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;

}

.ccolumn {
	margin-top: 5%;
	margin-bottom: 5%;
	float: left;
	width: 100%;
	font-family: sans-serif;
}
.cus img{
  width: 100%;
  display:block;
  margin-top: -1.874%;
  margin-bottom: -1.875%;
}

.dslider {
  animation: none !important;
  margin-top: 24%;
}

.cslider{
  animation: none !important;
  margin-top: 24%;
  margin-bottom: 15%;

}

}
