/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
/*home page*/
  /*navigation bar*/
  #logo{
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 30px;
  }

  .header-r{
  float: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .header-r a:not(:first-child) {
    display: none;
  }

  .header-r a.icon {
    float: right;
    display: block;
  }

  .header-r.responsive {
    position: relative;
  }

  .header-r.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header-r.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  /*navigation bar End*/
  /*bottom nav bar*/
  #contact-footer{
	  margin: 0px 0px 0px 0px;
	  padding: 0px 10px 0px 0px;
	  color: black;

	}
	#navigate-footer{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 40px;
	color: black;

	}

	#navigate-footer li{
		padding-top: 10px;
	}
  /*bottom nav bar end*/

/*home page*/
/*background image*/
.homeb{
  height: 420px;
  background-attachment: inherit;
  margin-top: 14%;
  overflow: auto;
}

.hbtxt{
  font-weight: 600;
  font-size: 17px ;
  padding: 10px;
  margin-top: 40%;
  margin-left: 3%;
}
/*background image end*/
/*bar slider*/
#aboutushome{
  width:100%;
	margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 20px;
}
.bar_s{
  padding: 40px 0px 0px 0px;
}
.skill_bar {
  width:90%;
  height:55px;
  background-color: rgb(192,192,192,0.2);
  margin-bottom: 20px;
  margin-left: 20px;

}
.bartxt{
  font-size: 18px !important;
  padding: 5px 0px 0px 0px !important;
}
.acolumn {
  padding-left: 0px;
overflow: auto;
	width: 100%;
}
/*bar slider end*/
/*product container*/
.hporimg{
  height: 300px;
  /* Scale the background image to be as large as possible */
  background-size:  100% 100%;
  background-attachment: inherit;
  overflow: auto;
}
.hpcolumn {
	margin-top: 0%;
  margin-left: 0%;
	width: 100%;
	font-family: sans-serif;

}

.hpor{
      font-size: 30px !important;
      margin: 15px 0px 0px 0px;
      padding: 0px 0px 0px 0px;

}

#htxt{
  font-size: 17px;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;

}

.buttonh {
    padding: 8px 20px;
    font-size: 17px;


}
/*product container end*/
/*sliders*/
.dslider{
  margin-top: 24%;
  animation: none !important;
  overflow: auto;
}
.cslider{
  margin-top: 24%;
  margin-bottom: 15%;
  animation: none !important;
  overflow: auto;
}

.ctag{
      left: 24%;
      font-size: 30px !important;
      font-weight: 600;
}
/*sliders end*/
/*home page end*/
}
